<div class="max-w-sm mx-auto mt-16 bg-tan font-display shadow border cursor-default window">
    <header class="text-center py-1 flex items-center select-none">
        <div class="w-24"></div>
        <div class="lines w-full">
            <div class="bg-black h-px"></div>
            <div class="bg-black h-px mt-1"></div>
            <div class="bg-black h-px mt-1"></div>
        </div>
        <h1 class="uppercase px-3 flex-1 whitespace-nowrap">
            Window Title
        </h1>
        <div class="lines w-full">
            <div class="bg-black h-px"></div>
            <div class="bg-black h-px mt-1"></div>
            <div class="bg-black h-px mt-1"></div>
        </div>
        <button class="w-24 text-center outline-none relative">
            {{ svg src="img/x" class="mx-auto"}}
        </button>
    </header>
    <section class="border-t-2 py-8"></section>
</div>

<button class="shortcut absolute bottom-16 left-16">
    <img src="/assets/system-icons/minesweeper.png" alt="" class="mx-auto mb-2" />
    <span class="bg-tan group-focus:bg-blue group-focus:text-white px-1">surpise</span>
</button>
