<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" sizes="32x32"/>
    </head>
    <body class="text-black border-black font-display text-base antialiased">
        <div id="app">
            {{ partial:menu-bar }}
            <div class="desktop min-h-screen relative" :style="{ background: 'url(' + wallpaper  + ')' }">

                 {{ template_content }}

                <desktop-window title="Settings" class="max-w-sm top-16 ml-0 left-16 z-20" v-on:close="showingSettings = false" v-show="showingSettings" v-cloak>
                    <h2 class="uppercase text-center text-xs">Change Background</h2>
                    <div class="grid grid-flow-row grid-cols-4 gap-3 mt-4">
                        {{ assets container="assets" folder="system-wallpapers" }}
                            <button @click="setWallpaper('{{ url }}')">
                                <img src="{{ glide:url height="64" width="64" }}" alt="{{ filename }}" class="w-full">
                            </button>
                        {{ /assets }}
                    </div>
                </desktop-window>

                {{# Top Right Icons #}}
                <div class="absolute top-16 right-8 flex flex-col space-y-8">
                    <button class="shortcut" @dblclick="goTo('/comp-fun')">
                        <img src="/assets/system-icons/computer.png" alt="" class="mx-auto mb-2" />
                        <span class="bg-tan group-focus:bg-blue group-focus:text-white px-1">comp.fun</span>
                    </button>
                    <button class="shortcut" @dblclick="goTo('https://lilpics.sortarad.io')">
                        <img src="/assets/system-icons/error.png" alt="" class="mx-auto mb-2" />
                        <span class="bg-tan group-focus:bg-blue group-focus:text-white px-1">lil pics</span>
                    </button>
                    <button class="shortcut" @dblclick="goTo('/freebiez')">
                        <img src="/assets/system-icons/folder.png" alt="" class="mx-auto mb-2" />
                        <span class="bg-tan group-focus:bg-blue group-focus:text-white px-1">freebiez</span>
                    </button>
                </div>

                {{# Surprise Button #}}
                <button class="shortcut absolute bottom-16 left-16" @dblclick="showSurprise">
                    <img src="/assets/system-icons/minesweeper.png" alt="" class="mx-auto mb-2" />
                    <span class="bg-tan group-focus:bg-blue group-focus:text-white px-1">surprise</span>
                </button>
                <desktop-window title="Surprise!!!" class="top-24 right-12 z-20" v-on:close="showingSurprise = false" v-if="showingSurprise" style="width: 832px">
                    {{ settings:surprises sort="random" limit="1" }}
                    <iframe width="800" height="600" autoplay src="{{ video_url | embed_url }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {{ /settings:surprises }}
                </desktop-window>
                <a href="/" class="absolute bottom-8 right-8 wiggle select-none">
                    <img src="/img/sorta-logo.png" alt="Sorta Rad Logo" width="160" height="112" />
                </img>
            </div>
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
