<nav class="ui-menu-bar bg-tan px-3 flex items-center justify-between font-display shadow-sm fixed top-0 inset-x-0 z-10 select-none">
    <div class="flex items-center space-x-2">
        <a href="/" class="flex items-center py-1 px-2 md:mr-8 hover:bg-black hover:text-white">
            {{ svg src="img/sorta-s" class="mr-2 relative -mt-px" }}
            SortaOS
        </a>
        <a href="" class="py-1 px-2 hover:bg-black hover:text-white">File</a>
        <a href="" class="py-1 px-2 hover:bg-black hover:text-white">Edit</a>
        <button @click="showSettings" class="py-1 px-2 hover:bg-black hover:text-white outline-none">Settings</button>
    </div>
    <div class="py-1 px-2 hover:bg-black hover:text-white" v-text="time" v-cloak></div>
</nav>
