/* This CSS is Sorta Rad. */

@font-face {
    font-family: 'chicago';
    src: url('/fonts/chicago-webfont.woff2') format('woff2'),
        url('/fonts/chicago-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toronto';
    src: url('/fonts/torrance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('/assets/system-wallpapers/leather-teal.png');
}

.shortcut {
    @apply text-center inline-block group p-1 relative select-none cursor-pointer;
    touch-action: none;

    img {
        height: 40px;
        width: 40px;
    }

    &:focus, &:active {
        background: rgba(0,0,0,.1);
    }
}

.window {
    touch-action: none;
    z-index: 20;

    header {
        user-select: none;
        cursor: grab;
    }
}

.content {
    @apply font-body;
    h2 {
        @apply text-2xl mb-8 font-display;
    }
    p {
        @apply text-lg font-body;
        padding-top:1em;
    }

    p:first-child   {
        padding-top:0em!important;
    }

    a {
        background: #000;
        color: #fff;
        padding: 0em .25em;
    }
    a:hover {
        background: transparent;
        color: #000;
    }
}

[v-cloak] {
    display: none;
}

.wiggle:hover {
    cursor: pointer;
    animation: wiggle 0.5s infinite step-end;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes wiggle {

    10%,
    30% {
        transform: translate3d(-1px, 0, 0) rotate(1deg);
    }

    31%,
    40% {
        transform: translate3d(3px, -2px, 0) rotate(4deg);
    }

    51%,
    60% {
        transform: translate3d(2px, 1px, 0) rotate(-3deg);
    }

    71%,
    85 {
        transform: translate3d(-1px, 2px, 0) rotate(5deg);
    }

    86%,
    100% {
        transform: translate3d(3px, -2px, 0) rotate(-1deg);
    }
}
