/* This CSS is Sorta Rad. */

@font-face {
    font-family: 'chicago';
    src: url('/fonts/chicago-webfont.woff2') format('woff2'),
        url('/fonts/chicago-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toronto';
    src: url('/fonts/toronto-webfont.woff2') format('woff2'),
        url('/fonts/toronto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.shortcut {
    @apply text-center inline-block group p-1 relative select-none cursor-pointer;
    touch-action: none;
    &:focus, &:active {
        background: rgba(0,0,0,.1);
    }
}

.window {
    touch-action: none;
    z-index: 20;
    header {
        user-select: none;
        cursor: grab;
    }
}
